
@media (max-width: 1250px) {

    /* --------------------------------Header-------------------------------- */
    .wrapper {
    min-height: 100dvh;
        padding-bottom: 2rem;
    }
    .wrapper.wrapper_home {
        background: url(../../assets/home/background-home-tablet.jpg) center/cover;
    }
    .wrapper.wrapper_destination {
        background: url(../../assets/destination/background-destination-tablet.jpg) center/cover;
    }
    .wrapper.wrapper_crew {
        background: url(../../assets/crew/background-crew-tablet.jpg) center/cover;
    }
    .wrapper.wrapper_technology {
        background: url(../../assets/technology/background-technology-tablet.jpg) center/cover;
    }
    
    .wrapper-header {
   padding: 0 0 0 5rem;
    }
    
    .head-navbar { 
        
        width: 45rem; 
    }
    
    .navbar-separator {
        display: none;
    }
    .navbar-menu {
        width: 35.6rem;   
    }
    .menu-categories strong {
        display: none;
    }
    .menu-categories {
        font-size: 1.4rem;   
    }
  


    /* --------------------------------Main Text-------------------------------- */

    .wrapper-content {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        padding-bottom:0 ;
        height: calc(100dvh - 9.6rem);
        }
        
        .content-text {
            align-items: center;
        }
        
        .text-heading5 {
            font-size: 2rem;
            letter-spacing: 3.8px;
        }
        
        .text-body {
            font-size: 1.6rem;
            line-height: 28px;
        }

        /* --------------------------------Main Button-------------------------------- */
    
        .button-explore {
            width: 24.2rem;
            height: 24.2rem; 
        }
        
        .button-hover {
            display: none;
        
        }
        
        
/* --------------------------------Destination Main -------------------------------- */
.wrapper-destinationContent {
    
    min-height: calc(100dvh - 9.6rem);
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 6rem;
    }
    .wrapper-modifier {
        height: calc(100vh - 9.6rem);
        
        }

       .elem-planet {
        width: 30rem;
        height: 30rem;
        margin-bottom:5.3rem ;
       }
            
            .content-elem {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .navBar-list {
                justify-content: space-between;
                width: 28.5rem;

            }

            .list-element {
                margin-right: 0;      
            }
            .content-sub{
                margin: 4rem 0 6rem 0;
                position: relative;
                left: 3.85rem;
                right: auto;
            }
            .sub-strong {
                color: white;
                opacity: 0.25;
                margin-right: 2.8rem;
            }
            
            .elem-textArea {
               
                align-items: center;
            }
            
           
            .textArea-title {
                font-size: 8rem;
                margin-bottom: 0.8rem;
            
            }
            .textArea-paragraph {
                font-size: 1.6rem;
                line-height: 28px;
                padding-bottom: 4.9rem;
                margin-bottom: 2.8rem;
                text-align: center;
            }
            
            .textArea-data {
                justify-content: center;
            }



            /* ------------------------ Crew Main  ------------------------- */

.wrapper-crewContent {
    min-height: calc(100vh - 9.6rem);
    padding-top: 4rem; 
    }
    
    .elemCrew-leftpart {
        width: 100%;
    }
    .elem-image {
        width: 45.6rem;
        height:57.2rem ;
    }
    .content-subCrew {
        font-size: 2rem;
        letter-spacing: 3.38px;
        margin-bottom: 6rem;
        margin-left: 3.85rem;
    }
    
    .elem-textAreaCrew {
        flex-direction: column;
        align-items: center;
    }
    
    .textArea-navBarCrew {
        margin-bottom: 0rem;
    }
    .elem-imgDesktopContainer {
        width: 54rem;
        height: 57.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .navBar-listCrew {
        margin-bottom: 3.7rem;
    }
    .content-elemCrew{
        flex-direction: column;
        align-items: center;
    }
    .list-elementCrew { 
        margin-right: 1.6rem;
        border-radius: 50%; 
        width: 1rem;
        height: 1rem;
    }
    .textArea-titleCrew {
        font-size: 4rem;
        margin-bottom: 1.6rem;
    }
    .textArea-statutCrew {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
    }
    .textArea-paragraphCrew {
        font-size: 1.6rem;
        line-height: 28px; 
        margin-bottom: 4rem;
        width: 46rem;
        height: 8.4rem;
        text-align: center;
    }
    @media screen and (orientation: landscape) {
        body {
            display: none;
        }
    }
/* ------------------------ Technology Main  ------------------------- */
    .technology-container {
        display: grid;
        min-height: calc(100vh - 9.6rem);
        padding-top: 4rem;
        grid: 
        "title" auto
        "imgL" auto
        "article" 1fr / auto
        ;
        
    }
    
    .technology-imgLandscape {
        display: block;
        grid-area: imgL;
        justify-self:left;
        object-fit: cover;
        align-self:center;
        width: 100%;
        margin-bottom: 5.6rem;

    }
    .technology-imgPortrait {
        display: none;
        
    }
    
    .category-title {
        font-size: 2rem;
        letter-spacing: 3.38px;
        left: 3.85rem;
        margin-bottom: 6rem;
    }
    
   
    .technology-categories {
        
        width: 21rem;
        height: auto;
        margin-bottom: 4.4rem;
    }
    
    .technology-menu {
        flex-direction: row;
        width: 100%;
    }
    
    .menu-elementTechnology {
        width:6rem;
        height:6rem;
        font-size: 2.4rem;
    }
    
    
    .article-container {
        grid-area: article;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        justify-self: center;
        align-self: flex-start;
        position: static;
        height: 100%;
        
    }
    
    .technology-article {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }
    .article-subtitle {
        text-align: center;
        
        margin-bottom: 1.6rem;
    }
    
    .article-name {
        font-size: 4rem;
        margin-bottom: 1.6rem;
        text-align: center;
        
    }

    
    
    .article-p {
        font-size: 1.6rem;
        width: 45.8rem;
        line-height: 2.8rem;
        text-align: center;
    }
}