@media (max-width: 600px) {
    
     /* --------------------------------Header-------------------------------- */
    .wrapper {
        overflow-x: hidden;
    overflow-y: auto;

        position: relative;
        min-height:100dvh;

    }
    .wrapper.wrapper_home {
        background: url(../../assets/home/background-home-mobile.jpg) center/cover no-repeat;
    }
    .wrapper.wrapper_destination {
        background: url(../../assets/destination/background-destination-mobile.jpg ) center/cover no-repeat;
    }
    .wrapper.wrapper_crew {
        background: url(../../assets/crew/background-crew-mobile.jpg) center/cover;
    }
    .wrapper.wrapper_technology {
        background: url(../../assets/technology/background-technology-mobile.jpg) center/cover;
    }
    .wrapper-header {
        height: 9.6rem;
        padding: 0 3rem 0 3rem;
    }
    
    
    .navbar-hamburger {
        display: block;
        position: relative;
        z-index: 10;
        width: 3rem;
        height: 2.1rem;
        cursor: pointer;
        
    }

    .navbar-hamburger:hover {
        filter:brightness(1.2);
    }

    .hamburger-ligne {
        width: 100%;
        height: 3px;
        background-color: var(--light);
        position: absolute;
        pointer-events: none;
    }
    .hamburger-ligne:nth-child(1) {
        top: 0px;
}
    .hamburger-ligne:nth-child(2) {
        top: 9px;
        transition: opacity 0.4s 0.4s ease-in-out;
}
    .hamburger-ligne:nth-child(3) {
        top: 19px;
}

    .hamburger-ligne:nth-child(1), .hamburger-ligne:nth-child(3) {
        transform: rotate(0);
        transition: 
        transform 0.4s ease-in-out,
        top 0.4s 0.4s ease-in-out
        ;
    }

    .navbar-hamburger.navbar-hamburger_active .hamburger-ligne:nth-child(1) {
      top: 9px;
      transform: rotate(45deg);
      transition: 
        transform 0.4s 0.4s ease-in-out,
        top 0.4s ease-in-out
        ;  
    }
    .navbar-hamburger.navbar-hamburger_active .hamburger-ligne:nth-child(2) {
        opacity: 0;
        transition: opacity 0.4s;
    }
    .navbar-hamburger.navbar-hamburger_active .hamburger-ligne:nth-child(3) {
        top: 9px;
        transform: rotate(-45deg);  
        transition: 
        transform 0.4s 0.4s ease-in-out,
        top 0.4s ease-in-out
        ;
    }
    .head-navbar {
    background: url(./../../assets/Rectangle_mobile.png) center/cover;
    box-shadow: black 1px 1px 5px;
    width:25.4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    padding: 3rem;
    transition: transform 0.35s ease-in-out;
    transform: translateX(25.4rem);
    z-index: 3;
    }

    .head-navbar.head-navbar_active {
    transform: translateX(0rem);
        
    
        
        
    }
    .menu-categories strong {
        display: initial;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 10rem;
        
    }
    .menu-categories {
        font-size: 1.6rem;
        letter-spacing: 2.7px;
        font-family: var(--barlow);
        color: var(--white);
        padding: 0;
        margin-bottom: 3rem;
        
    }
    .menu-categories:hover {
        border-bottom: none;
        padding: 0;    
    }
    .menu-categories.menu-categories_active {
        border-bottom: none;
        padding: 0;
    }
    /* --------------------------------MAIN TEXT-------------------------------- */
    .text-heading5 {
        font-size: 1.6rem;
        letter-spacing: 2.7px;
    }
    .text-heading1 {
        font-size: 8rem;
        
    }
    
    .text-body {
        font-size: 1.5rem;
        line-height: 25px;
    }

    .wrapper-content {
height: calc(100dvh - 9.6rem);

    }
/* --------------------------------MAIN Button-------------------------------- */


    .button-explore {
        width: 15rem;
        height: 15rem;
        font-size: 2rem;
    }


/* --------------------------------MAIN Destination-------------------------------- */
.wrapper-destinationContent {
    min-height: calc(100dvh - 9.6rem);
    
    padding-bottom: 5.6rem;
    align-items: center;

    }

       .elem-planet {
        width: 17rem;
        height: 17rem;
        margin-bottom:2.6rem ;
       }
            
    
     .navBar-list {
     justify-content: space-between;
     width: 28.5rem;

     }

          
    .content-sub{
margin: 2.4rem 0 3.2rem 0;
font-size: 1.6rem;

position: initial;
left: initial;
color: white;

    }
    .list-element { 
        font-size: 1.4rem;

    }
            .sub-strong {
                color: white;
                opacity: 0.25;
                margin-right: 2.8rem;
            }
            
            .elem-textArea {
               
                align-items: center;
            }
            
           
            .textArea-title {
                font-size: 5.6rem;
                margin-bottom: 0.8rem;
            
            }
            .textArea-paragraph {
                font-size: 1.6rem;
                line-height: 25px;
                padding-bottom: 3.2rem;
                margin-bottom: 3.2rem;
                text-align: center;
                width: 32.7rem;
                height: 14rem;
            }
            
            .textArea-data {
                
                align-items: center;
                flex-direction: column;
            }

            .distance-text, .time-text {
                color: var(--light);
                font-family: var(--barlow);
                font-size: 1.4rem;
                letter-spacing: 2.36px;
                font-weight: 400;
                margin-bottom: 1.2rem;
            }
            .distance-value, .time-value {
                color: var(--white);
                font-family: var(--bellefair);
                font-size: 2.8rem;
                text-align: center;
                font-weight: 400;
            }

            .data-distance {
                
                align-items: center;
                margin-right: 0;
                margin-bottom: 3.2rem;
            }
            .data-time {
                display: flex;
                flex-direction: column;
                align-items: center;
            
            }
     /* ------------------------ Crew Main  ------------------------- */

.wrapper-crewContent {
justify-content: center;
    align-items: center;
    padding-top: 0;
    min-height: calc(100dvh - 9.6rem);

    }
    .sub-strongCrew {
        color: white;
        opacity: 0.25;
        margin-right: 1.6rem;
    }
    .elemCrew-leftpart {
        width: 100%;
        align-items: center;
       
    }
    .elem-imageMobile {
        width:17.7rem;
        height:22.2rem;
        display: block;
opacity: 0;
        
    }
    .elem-image {
        display: none;
    }
    .content-subCrew {
        font-size: 1.6rem;
        letter-spacing: 2.7px;
        margin-bottom: 3.2rem;
       text-align: center;
       margin-left: 0;
    }
    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32.7rem;
        height: 22.3rem;
        border-bottom: 1px solid #383B4B;
        margin-bottom: 3.2rem;
    }
    .elem-textAreaCrew {
        flex-direction: column;
        
        align-items: center;
    }
    
    .textArea-navBarCrewMobile {
        margin-bottom: 3.2rem;
        display: block;
        
    }
    .textArea-navBarCrew {
        margin-bottom: 4rem;
        display: none;
    }

    .navBar-listCrew {
        justify-content: space-between;
        width: 8.8rem;
        margin-bottom: 0;
    }
    .content-elemCrew{
        flex-direction: column;
        align-items: center;
    }
    .list-elementCrew { 
        margin-right: 0rem;
        border-radius: 50%; 
        width: 1rem;
        height: 1rem;
    }
    .textArea-titleCrew {
        font-size: 2.4rem;
    }
    .textArea-statutCrew {
        font-size: 1.6rem;
    }
    .textArea-paragraphCrew {
        font-size: 1.5rem;
        line-height: 25px; 
        text-align: center;
        width: 33rem;
        height: fit-content;
    }

    /* ------------------------ Technology Main ------------------------- */

.technology-container {
    
    min-height: calc(100vh - 9.6rem);
    padding-top: 2.4rem;
    
    
}

.technology-imgLandscape {
    margin-bottom: 3.4rem;
    
    justify-self: left;
}

.category-title {
    position: static;
    font-size: 1.6rem;
    letter-spacing: 2.7px;
    justify-self: center;
    margin-bottom: 3.2rem;
}


.technology-categories {
    
    width: 15.2rem;
    height: auto;
    margin-bottom: 2.6rem;
}

.technology-menu {
    flex-direction: row;
    width: 100%;
}

.menu-elementTechnology {
    width:4rem;
    height:4rem;
    font-size: 1.6rem;
}


.article-container {
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    align-self: flex-start;
    position: static;
    height: 100%;
    
}

.technology-article {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
}
.article-subtitle {
    font-size: 1.4rem;
    letter-spacing: 2.36px;
    margin-bottom: 0.9rem;
}

.article-name {
    font-size: 2.4rem;  
}

.article-p {
    font-size: 1.5rem;
    width: 33rem;
    line-height: 2.5rem;
}
}
