/* RESET */

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;

}
body {
    border: 0;
    line-height: 1;
    min-height: 100vh;
    background-color: var(--dark);
}

ul, ol {
    list-style: none;
}

a {
    font-style: normal;
    color: black;
}

/* RESET */

